<div class="row">
  <div class="col-md-8">
    <h3>Posts List</h3>

    <div>
      <a [routerLink]="['/posts/add']" class="btn btn-primary btn-sm">New Post</a>
    </div>
    <table *ngIf="isEmptyTable$ | async; else emptyPosts" class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts$ | async">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <a [routerLink]="['edit', post.id]" class="btn btn-primary btn-sm">Update</a>
            &nbsp;
            <a (click)="onDeletePost(post)" class="btn btn-danger btn-sm">Delete</a>
            &nbsp;
            <a [routerLink]="['detail', post.id]" class="btn btn-info btn-sm">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #emptyPosts>
      <span> There are no registered posts </span>
    </ng-template>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
